@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

header{
  display: flex;
  justify-content: space-around;
}
header nav ul{
display: flex;
gap: 40px;
list-style: none;
}

header nav a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #FF6060;
}